
<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<div>
  You answered percent correct:

  <% if @test_passage.passed? %>

  <p class="success"> <%= @test_passage.success_rate %></p>
  You passed the test!
  
  <% else %>

  <p class="fail"> <%= @test_passage.success_rate %> </p>
  You didn't pass the test!

  <% end %>
</div>
<br>

<%= link_to 'All tests', tests_path %>
