<p>
  <%= current_year %>
   Войтулевич Кирилл - программист Ruby on Rails
   <%= link_to 'TestGuru Github', github_url('kiradur', 'Test-Guru'), target: "_blank"%>
</p>

<p>
  Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://www.thinknetica.com', target: "_blank" %>
</p>
