<p>
  <%= link_to 'Test Guru', tests_path %>
</p>
<% if user_signed_in? %>
  <p class="nav user">Welcome, <b><%= current_user.email %></b> Guru</p>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% end %>
